<app-form></app-form>

<div class="container">
  <div class="row">
    <div class="col-6">
      <a routerLink="/active" class="btn btn-primary">Mostra post disponibili</a>
    </div>
    <div class="col-6">
      <a routerLink="/inactive" class="btn btn-primary">Mostra post non disponibili</a>
    </div>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>titolo</th>
      <th>body</th>
      <th>active</th>
      <th>type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
        <td>{{post.id}}</td>
        <td>{{post.titolo}}</td>
        <td>{{post.body}}</td>
        <td>{{post.active}}</td>
        <td>{{post.type}}</td>

    </tr>
  </tbody>
</table>
