body{
    font-family: Arial, Helvetica, sans-serif;
    
}
h3{
    color: black;
    font-weight: bolder;
    font-size: 0.8rem;
}
h3 a{
    color:#087694 ;
    text-decoration: none;
    font-weight: bolder;
}
.logo-head{
    background-color: #131921;
}
.container-logo img{
    width: 100px;
}

.nav-bar{
    background-color:  #394350;
    padding: 7px;
}
.nav-bar li {
    display: inline;
    font-size: 0.8rem;
    padding: 12px;
}
.nav-bar a {
    color: white;
    text-decoration: none;
}
main{
    background-color: #d4d4d4;
    padding: 30px;
}
.gift-card{
    background-color: orangered;
    padding: 10px;
    margin-top: 30px;
}
.gift-card p{
    text-align: center;
    color: white;
    font-size: 0.8rem;
}
.gift-guides{
    background-image:url(../images/bg-image.png),url(../images/bg-img.png);
    background-size:93%,80%;
    padding: 45px;
    margin-top: 30px;
    text-align: center;
    color: white;
    font-weight: bolder;
    

}
.gift-guides h1{
    font-size: 2rem;
    padding: 20px;
}
.perfect-gift{
    background-color: white;
    margin-top: 30px;
   
}
.conteiner-img{
    display: flex;
  justify-content: center;


}
.perfect-gift div{
    margin: 10px;
    
    
    
}
.perfect-gift img{
    width: 300px;
    height: 300px;
    border-radius: 8px;
    
}
 .perfect-gift h3{
    padding: 10px;
} 
.gifting-game{
    margin-top: 30px;
    text-align: center;
}
.gifting-game img{
    width: 100%;
}
.sound-cheer{
    margin-top: 30px;
    text-align: center;
   
}
.sound-cheer img{
    width: 100%;
}
.saund-cheer h3{
    padding: 5px;
}
.back-top{
    background-color: #394350;
    text-align: center;
    padding: 10px;
  
}
.back-top a{
    color: white;
   text-decoration-line: underline;
}
.logo-footer{
    background-color: #131921;
    text-align: center;
    padding: 50px;
}
.container-logo-footer img{
    width: 120px;
}
html {
    scroll-behavior: smooth;
 }

    
    
 


