@media screen and (min-width:576px) {
    body{
        padding: 40px;
    }
 
   header{
     max-width:  100%;
       
   } 
   header nav li {
    display: inline;
}
main{
    max-width: 100%;
    
}
h1 {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: -0.03em;
    margin-bottom: 0.7em;

}
article p ,ul,ol{
    font-size: 1.7rem;
    
}

footer{
    max-width: 100%px;
    box-sizing: initial;
}
}

/* Medium */

@media screen and (min-width:768px) {
    body{
        padding: 20px;
    }
 
   header{
    margin-bottom: 40px;
     max-width:  100%;
       
   } 
   header nav li {
    display: inline;
}
main{
    max-width: 100%;
    
}
h1 {
    font-size: 6rem;
    

}
article p ,ul{
    font-size: 1.9rem;
    
}
article ol {
    font-size: 2rem;
}
table{
    margin: 0 auto;
}
.dopo-tabella{
    margin-top: 60px;
}

footer{
    max-width: 100%px;
    box-sizing: initial;
    font-size: 1.9rem;
}
}

/* Desktop */

@media screen and (min-width:1000px) {
   
   .container{
    max-width: 80%;
    margin: 0 auto;
    
   }
 
   header{
    margin: 0 auto;
    margin-bottom: 40px;
     max-width:  100%;
     display: flex;
    
     
       
   } 
   .box-logp-p{
    width: 40%;
    display: flex;
   }

   .box-logp-p p{
    display: inline-block;
    margin-bottom: 0px;
   }
   nav{
    width: 70%;
    margin-right: 0 auto;
    text-align: right;

   }

   
 

 main{
    max-width: 100%;
    margin: 0 auto;
    
}
h1 {
    font-size: 6rem;
    

}
article p ,ul{
    font-size: 1.9rem;
    
}
article ol {
    font-size: 2rem;
}
table{
    margin: 0 auto;
    width: 70%;
}
.dopo-tabella{
    margin-top: 60px;
}
.iframe-section{
    display: flex;
    width:  100% / 2 - 0,4rem
}
.box-aside{
    display: flex;
    align-content:stretch ;
    width: calc(100% / 3-0,4rem);
}


footer{
    max-width: 100%;
    box-sizing: initial;
    font-size: 1.9rem;
    margin: 0 auto;
    margin-top: 20px;
}
}